<%= simple_form_for @item, url: [:game_masters, @campaign, @character, @item], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, wrapper: :medium_input %>
    <%= f.input :description, wrapper: :medium_input%>
    <%= f.input :update_quantity, wrapper: :small_input %>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_item'%>
        </div>
    </div>
<% end %>