<%= simple_form_for [:game_masters, @campaign], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, wrapper: :medium_input %>
    <%= f.input :description, input_html: { rows: 10 } %>
    <%= f.input :meets_at, wrapper: :medium_input %>
    <%= f.input :meets_when, wrapper: :medium_input %>
    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_campaign'%>
        </div>
    </div>
<% end %>