<h2 class="page-header">My Characters</h2>
<%= render partial: 'layouts/player_partials/characters' %>
<%= link_to 'new character', [:new, :players, :character], class:'btn btn-outlined btn-default btn-xs' %>
