<%= simple_form_for [:players, @character], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, wrapper: :medium_input %>
    <%= f.input :race, wrapper: :medium_input %>
    <%= f.input :char_class, label:'Class', wrapper: :medium_input %>
    <%= f.input :alignment, wrapper: :medium_input %>
    <%= f.input :gender, wrapper: :medium_input %>
    <%= f.input :bio, input_html: { rows: 10 } %>

    <%= f.input :total_str, wrapper: :small_input %>
    <%= f.input :total_dex, wrapper: :small_input %>
    <%= f.input :total_con, wrapper: :small_input %>
    <%= f.input :total_int, wrapper: :small_input %>
    <%= f.input :total_wis, wrapper: :small_input %>
    <%= f.input :total_cha, wrapper: :small_input %>


    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_character'%>
        </div>
    </div>
<% end %>