<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Experience and Wealth</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 text-left">
                <label class="">XP</label>
            </div>
            <div class="col-sm-8">
                <%= character.experience %>
            </div>
        </div>
        <label class="text-left">Money</label>
        <div class="row">
            <% character.gold_silver_copper(character.money)%>
            <div class="col-sm-4 ">
                <label class="">Gold</label>
            </div>
            <div class="col-sm-8">
                <%= character.money / 100 %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <label class="">Silver</label>
            </div>
            <div class="col-sm-8">
                <%= character.silver %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 ">
                <label class="">Copper</label>
            </div>
            <div class="col-sm-8">
                <%= character.copper %>
            </div>
        </div>
    </div>
</div>