<table class="table table-hover">
    <thead>
    <tr>
        <th>Character</th>
        <th class="">Class</th>
        <th class="">Level</th>
        <th class="">Campaign</th>
        <th class=""></th>
    </tr>
    </thead>
    <% unless characters.each do |character| %>
        <tr>
            <td class=""><%= character.link_name :players %></td>
            <td class=""><%= character.char_class %></td>
            <td><%= character.level %></td>
            <% if character.campaign.present? %>
                <td><%=link_to character.campaign_name, [:players, character.campaign] %></td>
            <% else %>
                <td colspan="1"></td>
            <% end %>
            <td><%= character.render_edit_link %></td>
        </tr>
    <% end.present? %>
        <tr>
            <td colspan="3">You do not have any characters</td>
        </tr>
    <% end %>
</table>