<%= character.render_title do %>
    <div class="pull-right">
        <%= character.render_edit_link %>
    </div>
    <div class="progress progress-striped" style="margin-top: 10px">
        <div class="progress-bar progress-bar-xp" style="width: <%= character.level_progress(character.experience, character.level) %>%">
            <%= character.level_progress(character.experience, character.level) %>%
        </div>
    </div>

<% end %>

<% if @character.campaign.present? %>
    <%= link_to 'leave campaign', [:players, @character, :leaves], class:"btn btn-xs btn-outlined btn-default", method: :post, data: { confirm: "Are you sure you want to leave?", confirm_button: 'leave' } %>
<% end %>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#stats" role="tab" data-toggle="tab">Character Stats</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="stats">
        <div class="row">
            <div class="col-md-6">
                <%= render partial: 'layouts/partials/stats'%>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <%= render partial: 'layouts/partials/feats' %>
                <%= link_to 'add a new feat', [:new, :players, @character, :feat], class:"btn btn-xs btn-default btn-outlined", remote: true %>

            </div>
            <div class="col-md-6">
                <%= render partial: 'layouts/player_partials/skills' %>
                <%= link_to "add a new skill",[:new, :players, @character, :skill], class:"btn btn-default btn-xs btn-outlined", remote:true  %>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <%= render partial: 'layouts/player_partials/inventory' %>

                    <%= link_to "add a new item", [:new, :players, @character, :item], class: "btn btn-default btn-xs btn-outlined", remote: true %>

                </div>
                <div class="col-md-6">
                    <%= render partial: 'layouts/player_partials/awarded'%>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="profile">
        <div class="row">
            <div class="col-md-6">
                <%=render partial: 'layouts/partials/profile'%></div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>


