<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Inventory</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Description</th>
                <th colspan="1"></th>
                <th colspan="1"></th>
            </tr>
            </thead>
            <% @character.items.each do |item| %>
                <tr>
                    <th>
                        <%= item.name %>
                    </th>
                    <td>
                        <%= item.description %>
                    </td>
                    <td>
                        <%= link_to [:edit, :players, @character, item],class:'btn btn-success btn-xs', remote: true do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>
                    </td>
                    <td>
                        <%= link_to "Drop?",[:players, @character, item], class:'btn btn-default btn-xs btn-outlined', method: :delete, data: { confirm: "Are you sure you want to drop #{item.name}?", confirm_button: 'drop' } %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
