<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Skills</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Skill</th>
                <th>Points</th>
                <th>Notes</th>
                <th colspan="1"></th>
            </tr>
            </thead>
            <% @character.skills.each do|skill| %>
                <tr>
                    <th><%= skill.name %></th>
                    <td><%= skill.points %></td>
                    <td><%= skill.notes %></td>
                    <td><%= link_to [:edit, :players, @character, skill], class:"btn btn-success btn-xs", remote: true do %>
                        <i class="fa fa-pencil"></i>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
