<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">add new feat</h4>
        </div>
        <%= simple_form_for [:players, @character, @feat], html: { class: 'form-horizontal' } do |f| %>
            <div class="modal-body">
                <%= f.input :name, wrapper: :medium_input %>
                <%= f.input :benefit, input_html: { rows: 5 }%>
                <%= f.input :notes, input_html: { rows: 5 }%>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-outlined" data-dismiss="modal">Close</button>
                <%= f.button :submit, "Submit", id: 'submit_feat', class: 'btn-primary' %>
            </div>
        <% end %>
    </div>
</div>