<%= simple_form_for [:players, @character, @feat], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, wrapper: :medium_input %>
    <%= f.input :benefit, input_html: { rows: 5 }%>
    <%= f.input :notes, input_html: { rows: 5 }%>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_feat'%>
        </div>
    </div>
<% end %>