<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Editing <%= @item.name %></h4>
        </div>
        <%= simple_form_for [:players, @character, @item], html: { class: 'form-horizontal' } do |f| %>
        <div class="modal-body">
            <%= f.input :description, wrapper: :medium_input%>
            <%= f.input :update_quantity, wrapper: :small_input, input_html: { value: 1 } %>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-outlined" data-dismiss="modal">Close</button>
            <%= f.button :submit, "Submit", id: 'submit_item', class: 'btn-primary' %>
        </div>
        <% end %>
    </div>
</div>