<%= simple_form_for [:players, @character, @item], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :description, wrapper: :medium_input%>
    <%= f.input :update_quantity, wrapper: :small_input, input_html: { value: 0 } %>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_item'%>
        </div>
    </div>
<% end %>