<h2 class="page-header">
    Welcome back, <%= user.user_name %>!
</h2>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#user_profile" role="tab" data-toggle="tab">User Profile</a></li>
    <li><a href="#characters" role="tab" data-toggle="tab">Your Characters</a></li>
    <li><a href="#campaigns" role="tab" data-toggle="tab">Your Campaigns</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane active" id="user_profile">
        <%= render partial: 'layouts/partials/user_profile' %>
        <%= link_to 'update information', [:edit, :users, :profiles], class:'btn btn-xs btn-default btn-outlined'%>
    </div>
    <div class="tab-pane" id="characters">
        <%= render partial: 'layouts/player_partials/characters', locals: { characters: characters } %>
    </div>
    <div class="tab-pane" id="campaigns">
        <%= render partial: 'layouts/gm_partials/campaigns', locals: { campaigns: campaigns } %>
    </div>
</div>
