<%= simple_form_for @leave, url: [:players, @character, @leave], html: { class: 'form-horizontal' } do |f| %>
    <div class="form-group">
        <div class="row">
            <div class="col-md-5 col-md-offset-5">
                <h3>Are you SURE?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= f.button :submit, "Yes", id: 'submit_character', class:'btn btn-danger btn-lg pull-right' %>
            </div>
            <div class="col-md-6">
                <%= link_to [:players, @character] do %>
                    <button class="btn btn-default btn-lg">Nope</button>
                <%end%>
            </div>
        </div>
    </div>
<% end %>