<%= render partial:'layouts/partials/campaign' %>
<%= link_to 'join campaign', [:players, @campaign, :joins], class:'btn btn-default btn-xs btn-outlined' unless current_user.characters.in_campaign(campaign).present? || current_user.campaigns.include?(campaign)  || @campaign.status == :inactive %>
