<div class="jumbotron">
    <h1 class="page-header">MarySue</h1>
    Your favorite character and campaign manager
</div>
<div class="row">
    <div class="col-md-5">
        <%= render partial:'pages/parts/about' %>
    </div>
    <div class="col-md-7">
        <%= image_tag 'adventure.jpg', height:'auto', width: 400, title:'Javier Bolado' %>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <%= image_tag 'character1.png', width: 500 %>
    </div>
    <%= render partial:'pages/parts/feature1' %>
</div>
<div class="row">
    <div class="col-md-6">
        <%= render partial: 'pages/parts/feature2' %>
    </div>
    <div class="col-md-6">
        <%= image_tag 'campaign.png', width: 400 %>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= button_to "Sign Up Today!", [:new, :users, :sign_ups], method: :get, class:"btn btn-lg btn-default btn-block btn-outlined"  %>
    </div>
</div>