<%= simple_form_for [:players, @campaign, @join], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :character_id, wrapper: :medium_input, collection: @characters %>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_character'%>
        </div>
    </div>
<% end %>