<%= character.render_title%>
<div class = "panel">
    <div class = "panel-heading">
        <h2 class = "panel-title">Profile</h2>
    </div>
    <div class="panel-body">
        <%= character.render_bio %>
    </div>
</div>