<h2 class="page-header">Character Index</h2>
<table class="table table-hover">
    <thead>
    <tr>
        <th>Character</th>
        <th>Class</th>
        <th>Level</th>
        <th>Campaign</th>
        <th>Owned By</th>
    </tr>
    </thead>
    <% unless characters.each do |character| %>
        <tr>
            <td class=""><%= character.link_name %></td>
            <td class=""><%= character.char_class %></td>
            <td class="text"><%= character.level %></td>
            <% if character.campaign.present? %>
                <td class=""><%= link_to character.campaign_name, character.campaign %></td>
            <% else %>
                <td colspan="1"></td>
            <% end %>
            <td><%= link_to character.user_name, character.user %></td>
        </tr>
    <% end.present? %>
        <tr>
            <td colspan="5">There are no characters currently, <%= link_to 'make one?', [:new, :players, :character]%></th>
        </tr>
    <% end %>
</table>
<% if current_user.present? %>
    <%= link_to 'new character', [:new, :players, :character], class:'btn btn-default btn-outlined btn-xs' %>
<% end %>