<div class="panel">
    <div class="panel-heading">
        <h1 class="panel-title">Adventure More, Manage Less</h1>
    </div>
    <div class="panel-body">
       MarySue is a 3.5 edition D20 character and campaign manager designed with
       player happiness in mind.<p>
       Spend more time adventuring with your friends, and
       less time managing your character sheet and inventories.<p>
    </div>
    <div class="panel-footer">
        <%= link_to 'Sign up for the beta today!', [:new, :users, :sign_ups], class:'btn btn-default btn-outlined' %>
    </div>
</div>