<div class="col-md-6">
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">Character Sheets, Organized, Readable, and Portable</h2>
        </div>
        <div class="panel-body">
            <dt>MarySue is easily accessible from a tablet, e-reader, or phone with WiFi access.</dt>
            <dl>Designed with mobile in mind.</dl>
            <dt>Have all of your character's relevant information at your fingertips.</dt>
            <dl>Manage your character's inventory, feats, and skills from an easy-to-use management dashboard.</dl>
            <dt>PVP Campaign? No problem!</dt>
            <dl>Only you and your Game Master can view the your character's stats, feats, and skills. Don't let your enemy see your weakness!</dl>
        </div>
        <div class="panel-footer">
            <%= link_to 'Sign up for the beta today!', [:new, :users, :sign_ups], class:'btn btn-default btn-outlined' %>
        </div>
    </div>
</div>