<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">All of your Campaign Information, right in front of you</h2>
    </div>
    <div class="panel-body">
        <dt>Easily view who is adventuring with you.</dt>
        <dl>Update your player's gold, experience, and items!</dl>
        <dt>Set when, where and how your campaign meets.</dt>
        <dl>IRC or Skype game? Include that in the campaign information section.</dl>
    </div>
</div>