<%= simple_form_for @user, url: [:users, :sign_ups], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :user_name, wrapper: :medium_input %>
    <%= f.input :email, wrapper: :medium_input %>
    <%= f.input :password, wrapper: :medium_input, required: true %>
    <%= f.input :password_confirmation, wrapper: :medium_input, required: true %>
    <%= f.input :about, input_html:{ rows: 10 } %>
    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_user'%>
        </div>
    </div>
<% end %>