//= require 'font-awesome'

@import "bootstrap";
@import "readable-bootswatch";

$primary-color: #1abc9c; //turqouise
$contrast-color: #9b59b6;

.tr-fields {
  td {
    line-height: 40px !important;
  }
}

.btn-outlined {
  border-color: $primary-color;
}

.btn-success{
  border-color: $primary-color;
  background-color: $primary-color;
}

.btn-success:hover{
  border-color: darken($primary-color, 10);
  background-color: darken($primary-color, 10);
}

.navbar-inverse {
  .navbar-brand{
    color:$primary-color;
  }
}



.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus{
  border-color: $primary-color;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus{
  border-color: $primary-color;
}

.nav-tabs{
  border-color: $primary-color;
  margin-bottom: 20px;
  margin-top: 20px;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
  border-color: $primary-color;
  border-bottom-color: white;
}

.nav-tabs > li > a {
  color:$primary-color;
}

.nav-tabs > li > a:hover {
  color:black;
}

.progress-bar-xp{
  background-color: $contrast-color;
}
