<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Experience and Wealth</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-4 text-right"><label class="">XP</label></div>
            <div class="col-sm-8"><%= character.experience %></div>
        </div>
        <%= simple_form_for [:game_masters, @campaign, @character], html: { class: 'form-horizontal' } do |f| %>
            <div class="row">
                <div class="col-md-4 text-right"><label class="control-label">Add XP</label></div>
                <div class="col-md-4"><%= f.input_field :add_experience, class: 'form-control' %></div>
            </div>
        <% end %>
        <div class="row">
            <div class="col-sm-4 text-right"><label class="">Money</label></div>
            <div class="col-sm-8"><%= character.money %></div>
        </div>
        <%= simple_form_for [:game_masters, @campaign, @character], html: { class: 'form-horizontal' } do |f| %>
            <div class="row">
                <div class="col-md-4 text-right"><label class="control-label">Add Money</label></div>
                <div class="col-md-4"><%= f.input_field :add_money, class: 'form-control' %></div>
            </div>
        <% end %>
    </div>
</div>