<% if params[:show_all].present? %>
    <%= link_to [:game_masters, :campaigns]  do %>
        <button class="btn btn-default btn-outlined btn-xs"> Show Active </button>
    <% end %>
<% else %>
    <%= link_to polymorphic_path([:game_masters, :campaigns], show_all: true) do %>
        <button class="btn btn-default btn-outlined btn-xs"> show all </button>
    <% end %>
<% end %>

<table class="table">
    <thead>
    <tr>
        <th>Campaign Name</th>
        <th>Campaign Description</th>
        <th>Status</th>
        <th colspan="1"></th>
    </tr>
    </thead>
    <% unless campaigns.each do |campaign| %>
        <tr>
            <td><%= campaign.link_name :game_masters %></td>
            <td><%= campaign.description %></td>
            <td><%= campaign.status %></td>
            <td><%= link_to [:edit, :game_masters, campaign], class:'btn btn-success btn-xs' do %>
                    <i class='fa fa-pencil'></i>
                <% end %>
            </td>
        </tr>
    <% end.present? %>
        <tr><td colspan="3">You do not have any campaigns.</td></tr>
    <% end %>
</table>
<%= link_to [:new, :game_masters, :campaign] do %>
    <button class="btn btn-default btn-outlined btn-xs">start a new adventure</button>
<% end %>