<%= character.render_title %>
<div class="progress progress-striped" style="margin-top: 10px">
    <div class="progress-bar progress-bar-xp" style="width: <%= character.level_progress(character.experience, character.level) %>%">
        <%= character.level_progress(character.experience, character.level) %>%
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#stats" role="tab" data-toggle="tab">Character Stats</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="stats">
        <div class="row">
            <div class="col-md-6">
                <%= render partial: 'layouts/partials/stats'%>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <%= render partial: 'layouts/partials/feats' %>
            </div>
            <div class="col-md-6">
                <%= render partial: 'layouts/gm_partials/skills' %>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <%= render partial: 'layouts/gm_partials/inventory' %>
                <%= link_to "new item", [:new, :game_masters, @campaign, @character, :item], class:"btn btn-xs btn-default btn-outlined" %>
            </div>
            <div class="col-md-6">
                <%= render partial: "layouts/gm_partials/awarded"%>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="profile">
        <div class="row">
            <div class="col-md-6">
                <%=render partial: 'layouts/partials/profile'%>
            </div>
        </div>
    </div>
</div>
