<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Inventory</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th> Item</th>
                    <th> Description</th>
                    <th> Quantity </th>
                </tr>
            </thead>
            <% @character.items.each do |item| %>
                <tr>
                    <th>
                        <%= item.name %>
                    </th>
                    <td>
                        <%= item.description %>
                    </td>
                    <td>
                        <%= item.quantity %>
                    </td>
                </tr>
            <% end %>
        </table>

    </div>
</div>
