<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Skills</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <% @character.skills.each do|skill| %>
                <tr>
                    <th><%= skill.name %></th>
                    <td><%= skill.points %></td>
                    <td><%= skill.notes %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
