<%= simple_form_for [:game_masters, @campaign, @character], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :add_experience, wrapper: :medium_input %>
    <%= f.input :add_money, wrapper: :medium_input %>
    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_experience'%>
        </div>
    </div>
<% end %>