<h2 class="page-header">Characters on <%= @campaign.name %></h2>
<table class=" table">
    <tr>
        <th>Character</th>
        <th>Class</th>
        <th>Level</th>
        <th colspan="2">XP</th>
        <th colspan="2">Money</th>
        <th>Played By </th>
    </tr>
    <% unless @characters.each do |character| %>
        <tr class="tr-fields">
            <td><%= link_to character.name, [:game_masters, @campaign, character] %></td>
            <td><%= character.char_class %></td>
            <td><%= character.level %></td>
            <%= simple_form_for [:game_masters, @campaign, character], html: { class: 'form-horizontal' } do |f| %>
                <td><label>Current XP:</label> <%= character.experience %></td>
                <td><%= f.input_field :add_experience, class: 'form-control' %></td>
            <% end %>
            <%= simple_form_for [:game_masters, @campaign, character], html: { class: 'form-horizontal' } do |f| %>
                <td><label>Current Gold:</label> <%= character.money %></td>
                <td><%= f.input_field :add_money, class: 'form-control' %></td>
            <% end %>
            <td><%= character.user_name %></td>
        </tr>
    <% end.present? %>
        <tr><td colspan="2">There are no characters on your campaign</td></tr>
    <% end %>
</table>
