<h2 class="page-header">Campaign Index</h2>

<table class="table">
    <thead>
    <tr>
        <th>Campaign Name</th>
        <th>Campaign Description</th>
        <th>Ran By</th>
    </tr>
    </thead>
    <% unless campaigns.each do |campaign| %>
        <tr>
            <td><%= campaign.link_name :players %></td>
            <td><%= campaign.description %></td>
            <td><%= link_to campaign.user_name, campaign.user  %></td>
        </tr>
    <% end.present? %>
        <tr><td>There are no active campaigns...</td></tr>
    <% end %>
</table>
