<%= campaign.render_header %>
<div class="row">
    <div class="col-md-7">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title"> Description </h2>
            </div>
            <div class="panel-body">
                <%= campaign.render_description %>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="panel">
            <div class="panel-heading">
                <h2 class="panel-title"> Information </h2>
            </div>
            <div class="panel-body">
                <dt>Meets where: </dt><dd><%=@campaign.meets_at %></dd>
                <dt>Meets when: </dt><dd><%= @campaign.meets_when %></dd>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title"> Characters </h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th>Character</th>
                <th>Class</th>
                <th>Level</th>
                <th>Played By</th>
            </tr>
            </thead>
            <% campaign.characters.each do |character| %>
                <tr>
                    <td><%= character.link_name %></td>
                    <td><%= character.char_class %></td>
                    <td><%= character.level %></td>
                    <td><%= link_to character.user_name, character.user %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>