<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Feats</h2>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
            <tr>
                <th> Feat </th>
                <th> Benefit </th>
                <th colspan="1">  </th>
            </tr>
            </thead>
        <% @character.feats.each do |feat| %>
            <tr>
                <td><%= feat.name %></td>
                <td><%= feat.benefit %></td>
                <td><%= feat.notes%></td>
            </tr>
        <% end %>
    </table>

    </div>
</div>
