<div class="panel">
    <div class="panel-heading">
        <h2 class="panel-title">Statistics </h2>
    </div>

    <div class="panel-body">
        <table class="table">
            <tr><th>Total STR</th><td><%= @character.total_str %></td></tr>
            <tr><th>Total DEX</th><td><%= @character.total_dex %></td></tr>
            <tr><th>Total CON</th><td><%= @character.total_con %></td></tr>
            <tr><th>Total INT</th><td><%= @character.total_int %></td></tr>
            <tr><th>Total WIS</th><td><%= @character.total_wis %></td></tr>
            <tr><th>Total CHA</th><td><%= @character.total_cha %></td></tr>
        </table>
    </div>
</div>
