<div class="row">
    <div class="col-md-2 text-right">
        <label>User Name:</label>
    </div>
    <div class="col-md-10">
        <%= user.user_name%>
    </div>
</div>
<div class="row">
    <div class="col-md-2 text-right">
        <label>Email:</label>
    </div>
    <div class="col-md-10">
        <%= user.email %>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 text-right">
        <label>About me:</label>
    </div>
    <div class="col-sm-10">
        <%= user.about %>
    </div>
</div>
