<header>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MarySue</a>
            </div>
            <ul class="nav navbar-nav">
                <li><%= link_to "character", [:characters]%></li>
                <li><%= link_to "campaigns", [:campaigns]%></li>
                <li><%= link_to "sign in",[:new, :sessions] %></li>
                <li><%= link_to "sign up",[:new, :users, :sign_ups] %></li>
                    <% if current_user.present? %>
                        <li><%= link_to "log out", [:sessions], method: :delete  %></li>
                <% end %>
            </ul>
        </div>
    </div>
</header>
