<header>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/players/">MarySue</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">characters<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><%= link_to "my characters", [:players, :characters]%></li>
                        <li><%= link_to "all characters", :characters %></li>
                    </ul>
                </li>
                <li><%= link_to "campaigns", [:players, :campaigns]%></li>
                <li><%= link_to "game master", [:game_masters, :campaigns]%></li>
                <li><%= link_to "log out", [:sessions], method: :delete  %></li>
            </ul>
        </div>
    </div>
</header>
