<!DOCTYPE html>
<html>
<head>
    <title>MarySue</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<% if current_user.present? %>
    <%= render 'layouts/user_header' %>
<% else %>
    <%= render 'layouts/header' %>
<% end %>
<div class="container">
    <% if flash[:notice] %>
        <div class="alert alert-info alert-dismissable">
            <%= flash[:notice] %>
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
    <% end %>
    <%= yield %>
</div>
</body>
</html>
