<%= simple_form_for [:players, @character, @skill], html: { class: 'form-horizontal' } do |f| %>
    <%= f.input :name, wrapper: :medium_input %>
    <%= f.input :points, wrapper: :small_input%>
    <%= f.input :notes, input_html: { rows: 10 } %>

    <div class="form-group">
        <div class="col-md-5 col-md-offset-2">
            <%= f.button :submit, "Submit", id: 'submit_skill'%>
        </div>
    </div>
<% end %>